<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>사용자 페이지</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<link rel="stylesheet" href="/css/global.css" />
	<script type="text/javascript" src="/resources/js/user.js"></script>
</head>
<body>

	<table id="home">
		<tr><td id="title"><img alt="" src="http://www.cdc.go.kr/cdc/img/main/h1_logo.png"></td>
			<td id="searchEngine" colspan="2"><input type="text" class="searchInput"><button type="button" class="btn btn-info">검색</button></td>
			<td>
				<input id="login_button" type="button" value="로그인">
				<input id="join_button" type="button" value="회원가입"> <br>
				<input id="access_button" type="button" value="접속">
				<input id="register_button" type="button" value="등록">
				
			</td>
		</tr>
		<tr><td colspan="4">
			<table id="menu">
				<tr><td>감염병</td>
					<td>건강정보</td>
					<td>정책정보</td>
					<td>연구개발</td>
					<td>알림.자료</td>
					<td>간행물.통계</td>
					<td>민원.정보공개</td>
					<td>기관소개</td>
					<td>사업별홈페이지</td>
				</tr>
			</table>
		</td></tr>
		<tr><td id="image" colspan="4"><img alt="" src="http://www.cdc.go.kr/cdc/img/main/visual_default_main_01.jpg"> </td><td></td><td></td><td></td></tr>
	</table>

<script>
	user.init()
	
	
	

</script>
</body>
</html>